.superInput {
    border: none;
    background: #e2f1ee;
    box-shadow: rgba(53, 58, 86, 0.77) 5px 5px 15px;
    width: 200px;
    height: 30px;
    outline: 0;
    border-radius: 5px;
 }

.input:focus {
    outline: none;
    border: #99ff99 solid 2px;
}

.errorInput {
    border-bottom: 2px solid rgba(231, 46, 46, 0.84);
}

.error>span {
    color: red;
    font-size: 20px;
    font-style: italic;
    height: 30px;

}