.default {
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    padding: 13px 25px;
    display: inline-block;
    border-radius: 20px;
    transition: all .3s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    margin: 15px;
    background-color: rgba(61, 156, 225, 0.76);
}

.default:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.default:active {
    transform: translateY(-6px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.default::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.default:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.red {
    background: #ec7878;
    margin: 5px;
    border-radius: 5px;
}

.red:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:disabled {
    background: none;
    margin: 15px;
    transform: translateY(0);
    border: solid 2px black;
}

.button:disabled:hover {
    transform: translateY(0);
    box-shadow: none;
}